body{ background-image: url("../Images/Background.gif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  display: grid;                              
  grid-template-columns: repeat(8,12.5%);   
  grid-template-rows: auto;              
  grid-template-areas:                    
  " nav nav nav nav nav nav nav nav"
  " . article article article article article article  .  "
  " . article article article article article article  .   "
}

nav{ grid-area: nav;
  display: grid;                              
  grid-template-columns: repeat(7,1fr);   
  grid-template-rows: auto;               
  grid-template-areas:
  " . . . . . . . "                    
  "button button button logo button button button"
  " . . . . . . . "
}

.navbutton { /* This code was taken and then altered from W3 schools. Reference: W3schoolscom. 2019. W3schoolscom. [Online]. [21 February 2019]. Available from: https://www.w3schools.com/css/css3_buttons.asp*/
  grid-area: button;
  background-color: #D9D9D9; 
  border: 2px solid #111111;
  color: #BE0000;
  padding: 1em 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9vw;
  cursor: pointer; 
  width: 100%;
  margin-top: 37%;
}
    
button:hover {  /* This code was taken and then altered from W3 schools. Reference: W3schoolscom. 2019. W3schoolscom. [Online]. [21 February 2019]. Available from: https://www.w3schools.com/css/css3_buttons.asp*/
  background-color: #111111;
  border: 2px solid #BE0000;
  color: #D9D9D9;
}

#logo{grid-area: logo;
  width: auto;
  max-width: 100%;
  min-width: 90%;
  margin-top: 2%;
  z-index: 1;
  
}

.article{ grid-area: article;
  background-color: #D9D9D9; 
  border: 2px solid #111111;
  display: grid;                              
  grid-template-columns: repeat(5,20%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  "article-image article-image sectiontext sectiontext sectiontext"
  "article-image article-image aside aside aside"
}
#indexarticle{ grid-area: article;
  background-color: #D9D9D9; 
  border: 2px solid #111111;
  text-align: center;
  
}

#indextext{grid-area: aside;
  font-family: Arial, Helvetica, sans-serif;
  font-size:  1vw;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
}

.sectiontext{grid-area: sectiontext;}

.title{font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 7%;
  padding-top: 1%;
 }
.text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 2%;
  margin-left: 5%;
}


#ticketarticle{ grid-area: article;
  background-color: #D9D9D9; 
  border: 2px solid #111111;
  display: grid;                              
  grid-template-columns: repeat(3,33.3%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  " TicketGA .   TicketVIP "
  ". sectiontext ."
}


#TicketsGA{
  width: 100%;
  background-color: #D9D9D9; 
  border: 6px solid #BE0000;
  color: #111111;
  padding: 1em 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  cursor: pointer; 
  width: 100%; 
  margin-left: 13%;
  
}
#sectionGA{grid-area: TicketGA;
padding:10%;
}
#TickettextGA{font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
  margin-left: 24%;}

#TicketsVIP{
  width: 100%; 
  background-color: #D9D9D9; 
  border: 6px solid #BE0000;
  color: #111111;
  padding: 1em 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw;
  cursor: pointer; 
  width: 100%;
  margin-left: -13%;
  
 
}

#sectionVIP{grid-area: TicketVIP;
  padding:10%;
}

#TickettextVIP{font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
  margin-right: 26%;
}


#sectionTickettext{grid-area: sectiontext;
  font-family: Arial, Helvetica, sans-serif;
  font-size:  1vw;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
  margin-top:-5%;
}


#articleimage{ grid-area: article-image;
 width: 100%;
 padding-top: 5%;
 padding-left: 5%;
 padding-bottom: 5%;
 padding-right: 2%;
}

.articleaside{ grid-area: aside;
  display: grid;                              
  grid-template-columns: repeat(3,33.3%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  "aside-text aside-text aside-text"
  "links links links"
}

.asidetext{ grid-area: aside-text;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  padding-left: 2%;
  text-align: center;
}

.socialmedialinks{ grid-area: links;
  width: 50%;
  margin-left: 20%;
}

#LineUpArticle{ grid-area: article;
  margin-right: 8%;
  margin-top: 5%;
  display: grid; 
  grid-gap: 4%;                             
  grid-template-columns: repeat(3,33.3%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  ". . ."
  "bandnav bandnav bandnav"
  "bandnav bandnav bandnav"
}

.bandnav{ grid-area: bandnav; 
  background-color: #D9D9D9; 
  border: 2px solid #111111;
  width: 100%;
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2,50%);   
  grid-template-rows: auto;
  grid-template-areas:                    
  "LineUpImage LineUptitle"
  "LineUpImage LineUpText"
}

.BandNavImage{ grid-area: LineUpImage;
  width: 100%;
  height: 80%;
  
  padding-left: 4%;
  padding-top: 8%;
  padding-bottom: 5%;
  border-radius: 2%;
}

.Lineuptitle{grid-area: LineUptitle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin-left: 7%;
}
.LineUpText{grid-area: LineUpText;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85vw;
  margin-left: 7%;
  margin-top: -5%;
}
a{text-decoration: none;}

#form{grid-area: sectiontext;
padding: 1%;
margin-left: 4%;
}

#submit{ align-self: center;
  margin-left: 45%;
}

#map { grid-area: article-image;
height: 100%;
width: 100%;
margin-left: 5%;}
        
.bandaside{grid-area: aside;
  display: grid;                              
  grid-template-columns: repeat(4,25%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  "aside-text aside-text aside-text aside-text"
  "links links links links"
}












/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}