body{ background-image: url("../Images/Background.gif");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  display: grid;                              
  grid-template-columns: repeat(6,16.6%);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  " nav nav nav nav nav nav"
  " . . . . . ."
  " . article article article article  . "
  " . article article article article  . "
  " . . . . . ."
}

nav{ grid-area: nav;
  display: grid;                              
  grid-template-columns: repeat(7,1fr);   
  grid-template-rows: auto;               
  grid-template-areas:                    
  "button button button logo button button button"
}

.navbutton { /* This code was taken and then altered from W3 schools. Reference: W3schoolscom. 2019. W3schoolscom. [Online]. [21 February 2019]. Available from: https://www.w3schools.com/css/css3_buttons.asp*/
    grid-area: button;
    background-color: #D9D9D9; 
    border: 2px solid #111111;
    color: #BE0000;
    padding: 1em 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer; 
    width: 100%;
    margin-top: 37%;
}
    
button:hover {  /* This code was taken and then altered from W3 schools. Reference: W3schoolscom. 2019. W3schoolscom. [Online]. [21 February 2019]. Available from: https://www.w3schools.com/css/css3_buttons.asp*/
    background-color: #111111;
    border: 2px solid #BE0000;
    color: #D9D9D9;
}

#logo{grid-area: logo;
width: 100%;
}

article{ grid-area: article;
  background-color: #D9D9D9; 
  border: 2px solid #111111;
}
.articletext{ text-align: center;
}